@font-face {
  font-family: "iconfont"; /* Project id 4898896 */
  src: url('iconfont.woff2?t=1744997859008') format('woff2'),
       url('iconfont.woff?t=1744997859008') format('woff'),
       url('iconfont.ttf?t=1744997859008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e607";
}

.icon-taiwanliangping:before {
  content: "\e637";
}

.icon-xiping:before {
  content: "\e675";
}

.icon-liangpingshichang:before {
  content: "\e600";
}

