@font-face {
  font-family: "iconfont"; /* Project id 4897718 */
  src: url('iconfont.woff2?t=1744954651317') format('woff2'),
       url('iconfont.woff?t=1744954651317') format('woff'),
       url('iconfont.ttf?t=1744954651317') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crazy-play-2048:before {
  content: "\e9d2";
}

