@font-face {
  font-family: "iconfont"; /* Project id 4890022 */
  src: url('iconfont.woff2?t=1744361948862') format('woff2'),
       url('iconfont.woff?t=1744361948862') format('woff'),
       url('iconfont.ttf?t=1744361948862') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e9ab";
}

